interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:11 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/2a39ffcc-6b65-4b20-a6ed-a055f2e968d6?api-version=2022-12-01
      ms-cv:
      - dv8tIq8ykk6Ul6Paf7bbCg.0
      operation-id:
      - search_2a39ffcc-6b65-4b20-a6ed-a055f2e968d6
      operation-location:
      - /phoneNumbers/operations/search_2a39ffcc-6b65-4b20-a6ed-a055f2e968d6?api-version=2022-12-01
      search-id:
      - 2a39ffcc-6b65-4b20-a6ed-a055f2e968d6
      x-processing-time:
      - 2131ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:14 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_2a39ffcc-6b65-4b20-a6ed-a055f2e968d6?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/2a39ffcc-6b65-4b20-a6ed-a055f2e968d6?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:23:14.1710115+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/2a39ffcc-6b65-4b20-a6ed-a055f2e968d6?api-version=2022-12-01
      ms-cv:
      - TrBDvdm5Pkaw4Sk7z+D4sA.0
      x-processing-time:
      - 253ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:17 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/2a39ffcc-6b65-4b20-a6ed-a055f2e968d6?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "2a39ffcc-6b65-4b20-a6ed-a055f2e968d6", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T18:39:16.0969028+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - TEkEZ2yBwkuz7DMOWO7q/A.0
      x-processing-time:
      - 452ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "2a39ffcc-6b65-4b20-a6ed-a055f2e968d6"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - //26rJpJ1J6FZzVNMiVKKgJPAW8AlZ59mdwW5H5ESek=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:17 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - KlNyTOUBi0i2QoW5XJIvyA.0
      operation-id:
      - purchase_2a39ffcc-6b65-4b20-a6ed-a055f2e968d6
      operation-location:
      - /phoneNumbers/operations/purchase_2a39ffcc-6b65-4b20-a6ed-a055f2e968d6?api-version=2022-12-01
      purchase-id:
      - 2a39ffcc-6b65-4b20-a6ed-a055f2e968d6
      x-processing-time:
      - 804ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:18 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_2a39ffcc-6b65-4b20-a6ed-a055f2e968d6?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T18:23:14.1710115+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Xundt1/9p0KmcKYQKaSJgA.0
      x-processing-time:
      - 250ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:38 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-07-05T18:23:32.2988751+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Ub0+D/kxIkSg+IJ/lG6r3A.0
      x-processing-time:
      - 24891ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
