interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:45 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/90f61c00-b210-4f96-a813-88a8b879bb93?api-version=2022-12-01
      ms-cv:
      - HTUQDKfuU0GUM5f16HMjbQ.0
      operation-id:
      - search_90f61c00-b210-4f96-a813-88a8b879bb93
      operation-location:
      - /phoneNumbers/operations/search_90f61c00-b210-4f96-a813-88a8b879bb93?api-version=2022-12-01
      search-id:
      - 90f61c00-b210-4f96-a813-88a8b879bb93
      x-processing-time:
      - 1757ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:47 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_90f61c00-b210-4f96-a813-88a8b879bb93?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/90f61c00-b210-4f96-a813-88a8b879bb93?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:19:46.7439437+00:00", "id": "search_90f61c00-b210-4f96-a813-88a8b879bb93",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/90f61c00-b210-4f96-a813-88a8b879bb93?api-version=2022-12-01
      ms-cv:
      - Yx34pdwylkGuI/wFc04hvA.0
      x-processing-time:
      - 176ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:50 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/90f61c00-b210-4f96-a813-88a8b879bb93?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "90f61c00-b210-4f96-a813-88a8b879bb93", "phoneNumbers":
        ["+18442229930"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:35:48.7765140+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Et8E3Zzx2UeNMmPTzYWTdQ.0
      x-processing-time:
      - 328ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "90f61c00-b210-4f96-a813-88a8b879bb93"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - DkxcYAeWifrCr6nKUk4bAbNhdNkt2izt2ETDM5VM4Bc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:50 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - Lym8aGJg1U+10r8hWoi/WA.0
      operation-id:
      - purchase_90f61c00-b210-4f96-a813-88a8b879bb93
      operation-location:
      - /phoneNumbers/operations/purchase_90f61c00-b210-4f96-a813-88a8b879bb93?api-version=2022-12-01
      purchase-id:
      - 90f61c00-b210-4f96-a813-88a8b879bb93
      x-processing-time:
      - 704ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:51 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_90f61c00-b210-4f96-a813-88a8b879bb93?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:19:46.7439437+00:00", "id": "purchase_90f61c00-b210-4f96-a813-88a8b879bb93",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - re6QqMvZHESuUqlKf7XQWg.0
      x-processing-time:
      - 181ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - OEbosK1SrS0PvETaHtaCcp6VG8I7U9+SIdJhQbOyaqo=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HeZjgxY+bEiSq6Cg9Y43pQ.0
      x-processing-time:
      - 169ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
