interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Wed, 05 Jul 2023 18:15:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-06T18:15:10.9037177+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - FhyEiCcmdUGB6JDoF3GUpg.0
      x-processing-time:
      - 105ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - d0eb8b32-89ff-456e-ba06-02c04d525c66
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2023-07-05T18:15:11Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3ATZc0uwNbC4bSVyGS0GXUr1KQ9z6uhn3-ptroGGqwtzg1@thread.v2
      ms-cv:
      - mytUe4N2Ek+GJzR+IDf4zA.0
      x-processing-time:
      - 326ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "new-topic!"}'
    headers:
      Content-Type:
      - application/merge-patch+json
    method: PATCH
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      ms-cv:
      - FtiRHygDJ0qJG+vkaXOWFQ.0
      x-processing-time:
      - 264ms
    status:
      code: 204
      message: No Content
version: 1
