interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 05 Jul 2023 18:26:55 GMT
      Repeatability-Request-ID:
      - 850d978a-1b61-11ee-ba40-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 18:26:55 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:26:56.3890693+00:00",
        "validFrom": "2023-07-05T18:26:55.6824269+00:00", "validUntil": "2024-01-01T18:26:55.6824269+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99432690587293207'
      ms-cv:
      - QXU9EUS8S0ijB0PRjZeeFA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:26:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gzJfMTXv8E2QeHOqcr89NA.0
      x-processing-time:
      - 97ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:22275d46-a2a7-4e19-9ead-9d150d273dce_00000019-c730-5913-69f0-553a0d00395f":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - v0KrqMDl57WJfXMlDKiFY8erQv6UtNBAhl1Q5naN9LM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:26:57 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - F4J1pkkqSUWI6aqo2W33AQ.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:26:59 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EUhg3mdackegSzzUE7Jg9w.0
    status:
      code: 200
      message: OK
version: 1
