interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 06 Jul 2023 21:14:40 GMT
      Repeatability-Request-ID:
      - 1f08e5ab-1c42-11ee-8c4a-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-06T21:14:41.1107907+00:00",
        "validFrom": "2023-07-06T21:14:40.6629487+00:00", "validUntil": "2024-01-02T21:14:40.6629487+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99471503667259367'
      ms-cv:
      - aFcB5YO+uUO4CMimcbjPEA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:42 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: ''
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      ms-cv:
      - i8wPsGfTx0Gowlz8YtC3SA.0
    status:
      code: 204
      message: No Content
version: 1
