interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Jul 2023 23:47:56 GMT
      Repeatability-Request-ID:
      - 333f3c2a-1ac5-11ee-95b5-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Tue, 04 Jul 2023 23:47:56 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:47:57.6742446+00:00",
        "validFrom": "2023-07-04T23:47:57.1573467+00:00", "validUntil": "2023-12-31T23:47:57.1573467+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99445300582080749'
      ms-cv:
      - 0djXushyy0+ne3W89sgenw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:47:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QbFckPN9gkut49hLOKEZNg.0
      x-processing-time:
      - 100ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"8:acs:fb041838-5b4d-4828-9794-014649a0379f_00000019-c32f-e458-2633-8e3a0d000151":
      {"role": "Presenter"}, "8:acs:fb041838-5b4d-4828-9794-014649a0379f_00000019-c32f-e5e4-69f0-553a0d000228":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - VonKOtm0PYsraqnw9tNckjQWMaKhjBL6YRhC0msgYWM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:47:58 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3bHT7xyhcEmdc1EXg/a5Bg.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:48:00 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}, {"rawId": "sanitized",
        "role": "Consumer"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oaaUm9oY5US4L4OyZWAieg.0
    status:
      code: 200
      message: OK
version: 1
