interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/6d691246-65f2-4159-99dc-50aa02396d1e?api-version=2022-12-01
      ms-cv:
      - BmsRyws6zUSPajVbS0ayrA.0
      operation-id:
      - search_6d691246-65f2-4159-99dc-50aa02396d1e
      operation-location:
      - /phoneNumbers/operations/search_6d691246-65f2-4159-99dc-50aa02396d1e?api-version=2022-12-01
      search-id:
      - 6d691246-65f2-4159-99dc-50aa02396d1e
      x-processing-time:
      - 1959ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:31 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_6d691246-65f2-4159-99dc-50aa02396d1e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/6d691246-65f2-4159-99dc-50aa02396d1e?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:18:30.6271603+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/6d691246-65f2-4159-99dc-50aa02396d1e?api-version=2022-12-01
      ms-cv:
      - OQ+4PiXkSU+ur+AhpkjFcA.0
      x-processing-time:
      - 271ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/6d691246-65f2-4159-99dc-50aa02396d1e?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "6d691246-65f2-4159-99dc-50aa02396d1e", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-06-23T17:34:32.6846703+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - N/I8OwUv/UuTBCkJYeV48w.0
      x-processing-time:
      - 339ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "6d691246-65f2-4159-99dc-50aa02396d1e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - hVhtydIbjDbeCER0Ro0V6ZrwvrxlDi4nYZTQAmJ74hE=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:34 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 8sKQENk4aUeY3D8Whc2U+w.0
      operation-id:
      - purchase_6d691246-65f2-4159-99dc-50aa02396d1e
      operation-location:
      - /phoneNumbers/operations/purchase_6d691246-65f2-4159-99dc-50aa02396d1e?api-version=2022-12-01
      purchase-id:
      - 6d691246-65f2-4159-99dc-50aa02396d1e
      x-processing-time:
      - 751ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:35 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_6d691246-65f2-4159-99dc-50aa02396d1e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-06-23T17:18:30.6271603+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - RNMa/IMx8kqdXZwXOBgkUQ.0
      x-processing-time:
      - 181ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:54 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-06-23T17:18:49.7677719+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - sX1d8crVoU2+8WXSH1HJ0g.0
      x-processing-time:
      - 2272ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
