interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/14c241e7-fb98-42b6-b586-15d5fe042c2e?api-version=2022-12-01
      ms-cv:
      - aU5Eph1g4E6b7h89YrAIgA.0
      operation-id:
      - search_14c241e7-fb98-42b6-b586-15d5fe042c2e
      operation-location:
      - /phoneNumbers/operations/search_14c241e7-fb98-42b6-b586-15d5fe042c2e?api-version=2022-12-01
      search-id:
      - 14c241e7-fb98-42b6-b586-15d5fe042c2e
      x-processing-time:
      - 2017ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:27 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_14c241e7-fb98-42b6-b586-15d5fe042c2e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/14c241e7-fb98-42b6-b586-15d5fe042c2e?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:49:27.3548713+00:00", "id": "search_14c241e7-fb98-42b6-b586-15d5fe042c2e",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/14c241e7-fb98-42b6-b586-15d5fe042c2e?api-version=2022-12-01
      ms-cv:
      - wK1czi1R2E2ysDKuPDsiFg.0
      x-processing-time:
      - 421ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:30 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/14c241e7-fb98-42b6-b586-15d5fe042c2e?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "14c241e7-fb98-42b6-b586-15d5fe042c2e", "phoneNumbers":
        ["+18332271591"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T00:05:28.8589421+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - flDI+NFiAUyva+WLnSjF9A.0
      x-processing-time:
      - 2005ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "14c241e7-fb98-42b6-b586-15d5fe042c2e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - qbdU4LaZ4rFNKx50lLCAe93HwPQ3L/N4vYZfNN5rd2M=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - U/v6gVN9UEyXHBqhB4/XGw.0
      operation-id:
      - purchase_14c241e7-fb98-42b6-b586-15d5fe042c2e
      operation-location:
      - /phoneNumbers/operations/purchase_14c241e7-fb98-42b6-b586-15d5fe042c2e?api-version=2022-12-01
      purchase-id:
      - 14c241e7-fb98-42b6-b586-15d5fe042c2e
      x-processing-time:
      - 1154ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:33 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_14c241e7-fb98-42b6-b586-15d5fe042c2e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-04T23:49:27.3548713+00:00", "id": "purchase_14c241e7-fb98-42b6-b586-15d5fe042c2e",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +CTwsXYyiECQp6kJBsTkrQ.0
      x-processing-time:
      - 214ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - lHBwwrqsnK8RD3TwRZSfoK7sXQAKGaon1JX3+Y8E/8I=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - YBTdmFgGgka9lrQtv+0/tg.0
      x-processing-time:
      - 160ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
