interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 23 Jun 2023 17:22:09 GMT
      Repeatability-Request-ID:
      - 7be0b359-11ea-11ee-ad31-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 23 Jun 2023 17:22:09 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:22:09.8048754+00:00",
        "validFrom": "2023-06-23T17:22:09.618531+00:00", "validUntil": "2023-12-20T17:22:09.618531+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99483620017365365'
      ms-cv:
      - FbWopnp98EKCFN5Jgqrz5g.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:22:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - x4tr1XEDK0CRGVM3NuyTaA.0
      x-processing-time:
      - 104ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:763f19bc-78b5-45f5-a91a-4e4816c28fcd_00000019-8928-bb5f-0cf9-9c3a0d007346":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 5WxSj0ilTaGXCQLob+xmNPNtPIAL3o7rFseV+EvxGSk=
      x-ms-date:
      - Fri, 23 Jun 2023 17:22:10 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Cr6G7QDmrE2L0oDNjCwNFw.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:22:13 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DmH7DiNXWEuTyFy8ZC3E2g.0
    status:
      code: 200
      message: OK
version: 1
