interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 23 Jun 2023 17:25:24 GMT
      Repeatability-Request-ID:
      - f07a3576-11ea-11ee-9bb8-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:25:25.2932832+00:00",
        "validFrom": "2023-06-23T17:25:25.2148097+00:00", "validUntil": "2023-12-20T17:25:25.2148097+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99455732449549582'
      ms-cv:
      - lRwSGeFiGUOkf/xqpzCFkA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-06-23T18:25:25.810789", "validUntil": "2023-06-23T19:25:25.810789"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - ODH0apSVporcFKy6qRkqoN7us2hvbHlT8PsPUdHdqSI=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:25 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:25:25.2932832+00:00",
        "validFrom": "2023-06-23T18:25:25.810789+00:00", "validUntil": "2023-06-23T19:25:25.810789+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KrRvEgCYA0ycCHHat1W8pQ.0
    status:
      code: 200
      message: OK
version: 1
