interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:27:01 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
      ms-cv:
      - trvtSXdomEmnN7A6e+/ryQ.0
      operation-id:
      - search_28de0d63-068e-48c1-a0b0-0ae144762801
      operation-location:
      - /phoneNumbers/operations/search_28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
      search-id:
      - 28de0d63-068e-48c1-a0b0-0ae144762801
      x-processing-time:
      - 1231ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:27:03 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:27:02.8760945+00:00", "id": "search_28de0d63-068e-48c1-a0b0-0ae144762801",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
      ms-cv:
      - 8xEpX4D8S0+t0CrZi2/fow.0
      x-processing-time:
      - 229ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:27:06 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "28de0d63-068e-48c1-a0b0-0ae144762801", "phoneNumbers":
        ["+18333251378"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-06-23T17:43:04.6762556+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - iRRlielJTU65VHC3lzt3aQ.0
      x-processing-time:
      - 430ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "28de0d63-068e-48c1-a0b0-0ae144762801"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - JoXRi53speDRgKXQjfB9oExJm3qTn1oDoUM4Ve5JXe8=
      x-ms-date:
      - Fri, 23 Jun 2023 17:27:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - uhZChni95kK9GTVpwICeFw.0
      operation-id:
      - purchase_28de0d63-068e-48c1-a0b0-0ae144762801
      operation-location:
      - /phoneNumbers/operations/purchase_28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
      purchase-id:
      - 28de0d63-068e-48c1-a0b0-0ae144762801
      x-processing-time:
      - 1014ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:27:07 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_28de0d63-068e-48c1-a0b0-0ae144762801?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-06-23T17:27:02.8760945+00:00", "id": "purchase_28de0d63-068e-48c1-a0b0-0ae144762801",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vxqZSEfPgUq8GWbOkyYNXA.0
      x-processing-time:
      - 217ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Gl8ConxOL4h4vXBkufX5cgDfMiKZZUOC/xneRSfO7J0=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - n5g9qUzMEkWLPK40hIRokA.0
      x-processing-time:
      - 307ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
