interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:22 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/13c12c47-a58c-492d-a1c9-7cf6040c7db0?api-version=2022-12-01
      ms-cv:
      - X9ewaxWFJ0qrY2XAGlUTvg.0
      operation-id:
      - search_13c12c47-a58c-492d-a1c9-7cf6040c7db0
      operation-location:
      - /phoneNumbers/operations/search_13c12c47-a58c-492d-a1c9-7cf6040c7db0?api-version=2022-12-01
      search-id:
      - 13c12c47-a58c-492d-a1c9-7cf6040c7db0
      x-processing-time:
      - 3571ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:26 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_13c12c47-a58c-492d-a1c9-7cf6040c7db0?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/13c12c47-a58c-492d-a1c9-7cf6040c7db0?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:42:25.8326453+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/13c12c47-a58c-492d-a1c9-7cf6040c7db0?api-version=2022-12-01
      ms-cv:
      - rXnvnj/rf0WRCq1q6Oz5hQ.0
      x-processing-time:
      - 265ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:28 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/13c12c47-a58c-492d-a1c9-7cf6040c7db0?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "13c12c47-a58c-492d-a1c9-7cf6040c7db0", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-04T23:58:27.7571514+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - tYWaE80gRU2x0gxOog9VWA.0
      x-processing-time:
      - 372ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "13c12c47-a58c-492d-a1c9-7cf6040c7db0"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - gRTFID2bcP33mqTGjsShKctw8sLN0g8vQk73h5DQl40=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - bdJT6lroN0entwyu/7mD1g.0
      operation-id:
      - purchase_13c12c47-a58c-492d-a1c9-7cf6040c7db0
      operation-location:
      - /phoneNumbers/operations/purchase_13c12c47-a58c-492d-a1c9-7cf6040c7db0?api-version=2022-12-01
      purchase-id:
      - 13c12c47-a58c-492d-a1c9-7cf6040c7db0
      x-processing-time:
      - 720ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:30 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_13c12c47-a58c-492d-a1c9-7cf6040c7db0?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-04T23:42:25.8326453+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ezg8Nhz1AUW2JgFCU8jkXQ.0
      x-processing-time:
      - 229ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:43:47 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-07-04T23:43:43.6490201+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PhRupI4hnUeUFP+ccosoUA.0
      x-processing-time:
      - 1957ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
