interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 23 Jun 2023 17:22:14 GMT
      Repeatability-Request-ID:
      - 7ee6b0fb-11ea-11ee-9dd2-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 23 Jun 2023 17:22:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:22:14.8015514+00:00",
        "validFrom": "2023-06-23T17:22:14.7013607+00:00", "validUntil": "2023-12-20T17:22:14.7013607+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99449352641907684'
      ms-cv:
      - z5jSn94N10ys26mvTIwAbw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:22:15 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:22:14.8015514+00:00",
        "validFrom": "2023-06-23T17:22:14.7013607+00:00", "validUntil": "2023-12-20T17:22:14.7013607+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NjihT3gc5UqR/nIO4tNuMg.0
    status:
      code: 200
      message: OK
version: 1
