interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Jul 2023 23:44:33 GMT
      Repeatability-Request-ID:
      - b9ed6323-1ac4-11ee-85c9-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Tue, 04 Jul 2023 23:44:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:44:35.8623727+00:00",
        "validFrom": "2023-07-04T23:44:34.8531396+00:00", "validUntil": "2023-12-31T23:44:34.8531396+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99458040827331148'
      ms-cv:
      - 4qV/RNBPdEyDmvLTIJLMww.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
