interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:24:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/4164994f-680d-4b0b-804e-9ab16d31a002?api-version=2022-12-01
      ms-cv:
      - V/SOIg6pU0a578I5K/u3Og.0
      operation-id:
      - search_4164994f-680d-4b0b-804e-9ab16d31a002
      operation-location:
      - /phoneNumbers/operations/search_4164994f-680d-4b0b-804e-9ab16d31a002?api-version=2022-12-01
      search-id:
      - 4164994f-680d-4b0b-804e-9ab16d31a002
      x-processing-time:
      - 1600ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:24:25 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_4164994f-680d-4b0b-804e-9ab16d31a002?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/4164994f-680d-4b0b-804e-9ab16d31a002?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:24:24.418028+00:00", "id": "search_4164994f-680d-4b0b-804e-9ab16d31a002",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/4164994f-680d-4b0b-804e-9ab16d31a002?api-version=2022-12-01
      ms-cv:
      - 6qqC+Zfiykqb818qA7GUSw.0
      x-processing-time:
      - 208ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:24:28 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/4164994f-680d-4b0b-804e-9ab16d31a002?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "4164994f-680d-4b0b-804e-9ab16d31a002", "phoneNumbers":
        ["+18442229976"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:40:26.1028050+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pOineLd3gEaEbbqWcV+5dA.0
      x-processing-time:
      - 360ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "4164994f-680d-4b0b-804e-9ab16d31a002"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - iOF2ty7X2ujcVekjLbCzIPJCdseVBkXs71wZAfpbCbM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:24:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - IMYufGO9BUKssrI+yc0Obw.0
      operation-id:
      - purchase_4164994f-680d-4b0b-804e-9ab16d31a002
      operation-location:
      - /phoneNumbers/operations/purchase_4164994f-680d-4b0b-804e-9ab16d31a002?api-version=2022-12-01
      purchase-id:
      - 4164994f-680d-4b0b-804e-9ab16d31a002
      x-processing-time:
      - 701ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:24:29 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_4164994f-680d-4b0b-804e-9ab16d31a002?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:24:24.418028+00:00", "id": "purchase_4164994f-680d-4b0b-804e-9ab16d31a002",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mdSp/e15/E25APlGL2kOXg.0
      x-processing-time:
      - 207ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Q/OBhsPTsktIpo7qM8gBuPQX3MFlTRWTW70R4oryKfw=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - JMv7i42LPUe+ozmC1qibKQ.0
      x-processing-time:
      - 321ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
