interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:20:06 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e?api-version=2022-12-01
      ms-cv:
      - tvacLI96SEq7yveJ5RzeRQ.0
      operation-id:
      - search_0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e
      operation-location:
      - /phoneNumbers/operations/search_0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e?api-version=2022-12-01
      search-id:
      - 0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e
      x-processing-time:
      - 1656ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:20:09 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:20:07.8899998+00:00", "id": "search_0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e?api-version=2022-12-01
      ms-cv:
      - 2/vZMtCeUEqgZyhX+R/JHQ.0
      x-processing-time:
      - 254ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:20:11 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e", "phoneNumbers":
        ["+18552478035"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:36:09.7890088+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - D8ajVRTEtkWJZ1RLCpoecQ.0
      x-processing-time:
      - 382ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - vpdAWWHWIwtFj2+1nkdEiqHIG4KZroYqJRVVzgmA790=
      x-ms-date:
      - Thu, 06 Jul 2023 21:20:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - +muUNyro1kSXN+8LtCDqKw.0
      operation-id:
      - purchase_0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e
      operation-location:
      - /phoneNumbers/operations/purchase_0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e?api-version=2022-12-01
      purchase-id:
      - 0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e
      x-processing-time:
      - 739ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:20:13 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:20:07.8899998+00:00", "id": "purchase_0d8c8f5f-f8c6-46c7-b9fd-fcab44db7a3e",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gXYe4ZeYH0akidnnVkezAw.0
      x-processing-time:
      - 222ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - //mEUIJoze5mxiFMVnIJdsjTOj7BNTaGReqE04z0Mu8=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /0YBnxCo1EGpTAPSu8nC4w.0
      x-processing-time:
      - 172ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
