interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:25:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OEE7A7wWeEKEQCMR+MEvGA.0
      x-processing-time:
      - 99ms
    status:
      code: 201
      message: Created
- request:
    body: '{"scopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - nhFAfqVNNvGtmqZXLZeMFVwYcIW0NuuEF0d+D1dlKIY=
      x-ms-date:
      - Thu, 06 Jul 2023 21:25:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities/sanitized/:issueAccessToken?api-version=2022-10-01
  response:
    body:
      string: '{"token": "sanitized", "expiresOn": "2023-07-07T21:25:27.6350737+00:00"}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rq0u9WIpxUeM9KK24120wA.0
      x-processing-time:
      - 151ms
    status:
      code: 200
      message: OK
version: 1
