interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
      ms-cv:
      - eq4xTtGOvEitz79pFwwcUQ.0
      operation-id:
      - search_384d5ec1-4593-4623-b9ec-962a43ed1ecb
      operation-location:
      - /phoneNumbers/operations/search_384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
      search-id:
      - 384d5ec1-4593-4623-b9ec-962a43ed1ecb
      x-processing-time:
      - 1205ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:30:33.8728873+00:00", "id": "search_384d5ec1-4593-4623-b9ec-962a43ed1ecb",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
      ms-cv:
      - 4dIcH4rSG0iHdBnqoJDljA.0
      x-processing-time:
      - 255ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:36 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "384d5ec1-4593-4623-b9ec-962a43ed1ecb", "phoneNumbers":
        ["+18442216029"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T18:46:35.6847647+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Zv38fLl/kU6sQgC5M2yUag.0
      x-processing-time:
      - 375ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "384d5ec1-4593-4623-b9ec-962a43ed1ecb"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - tijGsGplux64IeBO4wZ1PbH/ogCjTxk+9BwQ2gPr/Vw=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:37 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - OuLhy0yMR0GvAxj5TzruIA.0
      operation-id:
      - purchase_384d5ec1-4593-4623-b9ec-962a43ed1ecb
      operation-location:
      - /phoneNumbers/operations/purchase_384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
      purchase-id:
      - 384d5ec1-4593-4623-b9ec-962a43ed1ecb
      x-processing-time:
      - 819ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:38 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_384d5ec1-4593-4623-b9ec-962a43ed1ecb?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T18:30:33.8728873+00:00", "id": "purchase_384d5ec1-4593-4623-b9ec-962a43ed1ecb",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6jj65NWP0EW8qE2gDwPETA.0
      x-processing-time:
      - 224ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - qtlseBYb8OdAaULjpjBBRzMjK6YjMJReInknPcmi9iM=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gcxHjDSuME+NKlPfdiSL6g.0
      x-processing-time:
      - 232ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
