interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:15 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/8fc76f38-0411-4227-84cd-cbd065a8399f?api-version=2022-12-01
      ms-cv:
      - cShrXOg/Uk6yJc77eE1uOw.0
      operation-id:
      - search_8fc76f38-0411-4227-84cd-cbd065a8399f
      operation-location:
      - /phoneNumbers/operations/search_8fc76f38-0411-4227-84cd-cbd065a8399f?api-version=2022-12-01
      search-id:
      - 8fc76f38-0411-4227-84cd-cbd065a8399f
      x-processing-time:
      - 1563ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:16 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_8fc76f38-0411-4227-84cd-cbd065a8399f?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/8fc76f38-0411-4227-84cd-cbd065a8399f?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:23:16.8332504+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/8fc76f38-0411-4227-84cd-cbd065a8399f?api-version=2022-12-01
      ms-cv:
      - nrrGGdVbhk+ByzeuAau4IQ.0
      x-processing-time:
      - 249ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:19 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/8fc76f38-0411-4227-84cd-cbd065a8399f?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "8fc76f38-0411-4227-84cd-cbd065a8399f", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T18:39:18.6233663+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zhCQXKZGLkqJVkgqEJzQdQ.0
      x-processing-time:
      - 428ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "8fc76f38-0411-4227-84cd-cbd065a8399f"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - JGOHBdBV0kTFlsVe92PVXYflkBiX6baVrXn+w+vKtxg=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - SDwand78wESwJJUQts7GEA.0
      operation-id:
      - purchase_8fc76f38-0411-4227-84cd-cbd065a8399f
      operation-location:
      - /phoneNumbers/operations/purchase_8fc76f38-0411-4227-84cd-cbd065a8399f?api-version=2022-12-01
      purchase-id:
      - 8fc76f38-0411-4227-84cd-cbd065a8399f
      x-processing-time:
      - 772ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_8fc76f38-0411-4227-84cd-cbd065a8399f?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T18:23:16.8332504+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qFbcVLNyak+P+Zy8HKQK1w.0
      x-processing-time:
      - 282ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:38 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-05T18:23:34.2601841+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2pFQ+8lH3UeOslfqFoE2Yw.0
      x-processing-time:
      - 2259ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
