interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
      ms-cv:
      - SGo2tMK2kUadmo7s9mYBIg.0
      operation-id:
      - search_a7f56f7a-4589-4e7e-842e-7291e5d53d0e
      operation-location:
      - /phoneNumbers/operations/search_a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
      search-id:
      - a7f56f7a-4589-4e7e-842e-7291e5d53d0e
      x-processing-time:
      - 1923ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:19:33.4798009+00:00", "id": "search_a7f56f7a-4589-4e7e-842e-7291e5d53d0e",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
      ms-cv:
      - X8IeRdMQrkGCKRs09zW14w.0
      x-processing-time:
      - 212ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:39 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "a7f56f7a-4589-4e7e-842e-7291e5d53d0e", "phoneNumbers":
        ["+18332407762"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:35:36.2139001+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - c8laFNPDiU6xAj6RJZ95/g.0
      x-processing-time:
      - 487ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "a7f56f7a-4589-4e7e-842e-7291e5d53d0e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - DrjYxFL3TMyvpYFEKRmT7L8jFyTxLIYVHNO81H5ar/A=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:40 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - xnrrSNnpjEyPzXt6A/efnQ.0
      operation-id:
      - purchase_a7f56f7a-4589-4e7e-842e-7291e5d53d0e
      operation-location:
      - /phoneNumbers/operations/purchase_a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
      purchase-id:
      - a7f56f7a-4589-4e7e-842e-7291e5d53d0e
      x-processing-time:
      - 792ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:19:41 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_a7f56f7a-4589-4e7e-842e-7291e5d53d0e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:19:33.4798009+00:00", "id": "purchase_a7f56f7a-4589-4e7e-842e-7291e5d53d0e",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0Y0WHpibx0G1Rrj0lOHPAg.0
      x-processing-time:
      - 220ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ALAtZm4SK72RYeMHuX2K5YZhHsmo0Q0Lwoka3VF4NpY=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WhXX3OdEsEuWC0TkNJeSxQ.0
      x-processing-time:
      - 132ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
