interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:11:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/16015f8b-a83d-4aff-b3e1-473fc7458590?api-version=2022-12-01
      ms-cv:
      - A27lJsbT20OcE858US4vdQ.0
      operation-id:
      - search_16015f8b-a83d-4aff-b3e1-473fc7458590
      operation-location:
      - /phoneNumbers/operations/search_16015f8b-a83d-4aff-b3e1-473fc7458590?api-version=2022-12-01
      search-id:
      - 16015f8b-a83d-4aff-b3e1-473fc7458590
      x-processing-time:
      - 1868ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:12:00 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_16015f8b-a83d-4aff-b3e1-473fc7458590?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/16015f8b-a83d-4aff-b3e1-473fc7458590?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:11:59.0360394+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/16015f8b-a83d-4aff-b3e1-473fc7458590?api-version=2022-12-01
      ms-cv:
      - E9W7ndvYC0mm7Ugn8vKz8A.0
      x-processing-time:
      - 205ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:12:02 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/16015f8b-a83d-4aff-b3e1-473fc7458590?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "16015f8b-a83d-4aff-b3e1-473fc7458590", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:28:00.8466667+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bEi/WV5lpUGXFZTnMqYLRQ.0
      x-processing-time:
      - 505ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "16015f8b-a83d-4aff-b3e1-473fc7458590"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - aBxSMpwOC+P3GHB/V/ir4K56PLIE4ym9d7TnyV/ypmE=
      x-ms-date:
      - Thu, 06 Jul 2023 21:12:03 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - ijO6YRh4Zk+DXedYcUroFg.0
      operation-id:
      - purchase_16015f8b-a83d-4aff-b3e1-473fc7458590
      operation-location:
      - /phoneNumbers/operations/purchase_16015f8b-a83d-4aff-b3e1-473fc7458590?api-version=2022-12-01
      purchase-id:
      - 16015f8b-a83d-4aff-b3e1-473fc7458590
      x-processing-time:
      - 715ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:12:04 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_16015f8b-a83d-4aff-b3e1-473fc7458590?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:11:59.0360394+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xQzgaOs0nEuovuU8LX1xeg.0
      x-processing-time:
      - 226ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:12:29 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-07-06T21:12:23.0093279+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CYFiCj0MdEeDD3JOzG7hwA.0
      x-processing-time:
      - 2836ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
