interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 06 Jul 2023 21:14:53 GMT
      Repeatability-Request-ID:
      - 26840919-1c42-11ee-b2c1-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-06T21:14:53.7703058+00:00",
        "validFrom": "2023-07-06T21:14:53.2317832+00:00", "validUntil": "2024-01-02T21:14:53.2317832+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '9943666899503510'
      ms-cv:
      - oPAFFzQvwkmtQq0qMbh/bA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
