interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Tue, 04 Jul 2023 23:29:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-05T23:29:29.3323786+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - AcEAdE4mAkmvb9aYoiD1qg.0
      x-processing-time:
      - 107ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 3b5f392d-31c7-4bd0-944b-0cda767b4649
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2023-07-04T23:29:29Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A1YDLVLgKnxIFOtju5XDNCvl2dBhwv_hLmJ4GdOcwg1E1@thread.v2
      ms-cv:
      - H2e3Xcfu70GLmsgCzpJ1vg.0
      x-processing-time:
      - 478ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}, "shareHistoryTime": "2022-01-01T00:00:00.000Z"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EENu/PCUXke7834IfTk3pA.0
      x-processing-time:
      - 189ms
    status:
      code: 201
      message: Created
version: 1
