interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Fri, 23 Jun 2023 17:20:32 GMT
      Repeatability-Request-ID:
      - 4220cfd5-11ea-11ee-acdb-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Fri, 23 Jun 2023 17:20:32 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-06-23T17:20:32.9276881+00:00",
        "validFrom": "2023-06-23T17:20:32.7535529+00:00", "validUntil": "2023-12-20T17:20:32.7535529+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '9941107970429637'
      ms-cv:
      - rBCb/CeFlUuwcrYVTkbY8Q.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
