interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Tue, 04 Jul 2023 23:31:07 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-05T23:31:08.1340033+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ljl/vmb0IESSG+a43PDurw.0
      x-processing-time:
      - 106ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 584dead7-4fb4-46d4-b0a3-27397aef40dc
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-topic", "createdOn":
        "2023-07-04T23:31:08Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AiEV8HaXXMndbAwW4quxXVqg4mBCQDQpjh6b1WBo6JOc1@thread.v2
      ms-cv:
      - B52zr9T4EUKCbNypXzq0cA.0
      x-processing-time:
      - 422ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      ms-cv:
      - Fj4yK0pkwkOntfCo4I56Yw.0
      x-processing-time:
      - 270ms
    status:
      code: 204
      message: No Content
version: 1
