interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:30:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      ms-cv:
      - o9YgjrPuY0Cua1YMw43Zag.0
      operation-id:
      - search_70443af6-e42d-477a-99cc-9e5dcdb85492
      operation-location:
      - /phoneNumbers/operations/search_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      search-id:
      - 70443af6-e42d-477a-99cc-9e5dcdb85492
      x-processing-time:
      - 2506ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:30:17 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:30:16.5342993+00:00", "id": "search_70443af6-e42d-477a-99cc-9e5dcdb85492",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      ms-cv:
      - h0tgfWySMkmK20S8enlr+w.0
      x-processing-time:
      - 220ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:30:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "70443af6-e42d-477a-99cc-9e5dcdb85492", "phoneNumbers":
        ["+18443037613"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-06-23T17:46:18.1856250+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OKaRVnry4EGPr6d4Krn3qQ.0
      x-processing-time:
      - 507ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "70443af6-e42d-477a-99cc-9e5dcdb85492"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - xDQ1yNK+J5210CND4TIWPquOThzBalOceZGfRX1aAQA=
      x-ms-date:
      - Fri, 23 Jun 2023 17:30:20 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 0byEHu6IekCXqL9b5oMaHg.0
      operation-id:
      - purchase_70443af6-e42d-477a-99cc-9e5dcdb85492
      operation-location:
      - /phoneNumbers/operations/purchase_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
      purchase-id:
      - 70443af6-e42d-477a-99cc-9e5dcdb85492
      x-processing-time:
      - 816ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:30:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_70443af6-e42d-477a-99cc-9e5dcdb85492?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-06-23T17:30:16.5342993+00:00", "id": "purchase_70443af6-e42d-477a-99cc-9e5dcdb85492",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EQsdJemRp0GQa8rdqCqkLQ.0
      x-processing-time:
      - 229ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - XmclZFlzYIEPuUBoitcL6LGBtOHbbxrhmCQOerNvleA=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jG5ySdp+XU2/XMhQ38WpnQ.0
      x-processing-time:
      - 151ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
