interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Jul 2023 23:47:02 GMT
      Repeatability-Request-ID:
      - 1315b52e-1ac5-11ee-9e20-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Tue, 04 Jul 2023 23:47:02 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:47:03.1686735+00:00",
        "validFrom": "2023-07-04T23:47:02.8613947+00:00", "validUntil": "2023-12-31T23:47:02.8613947+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99444432477270448'
      ms-cv:
      - ZPN5/7bFXUGPGIDC0t1ZPg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:47:03 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jMv1+lv1FUe4jgxHg1vnig.0
    status:
      code: 200
      message: OK
version: 1
