interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:06:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-07T21:06:32.6550356+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jcAVc2tHw02psyOmINDR4Q.0
      x-processing-time:
      - 110ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "new-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 85781a19-a097-48f4-ab3c-e5a7a934abe7
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "new-topic", "createdOn":
        "2023-07-06T21:06:33Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AFf1LcE4NMKcXIXXMVO9yxtY2Lf-5s6NcIoMz3VY2MRg1@thread.v2
      ms-cv:
      - RmNvOAJXt0aSxywZ2KnYBA.0
      x-processing-time:
      - 628ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "hello!", "type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AFf1LcE4NMKcXIXXMVO9yxtY2Lf-5s6NcIoMz3VY2MRg1@thread.v2/messages/1688677594116
      ms-cv:
      - 7/wyCj5LTEufKr/rPjZ0LQ.0
      x-processing-time:
      - 237ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "type": "html", "sequenceId": "3", "version": "1688677594116",
        "content": {"message": "hello!"}, "senderDisplayName": "", "createdOn": "2023-07-06T21:06:34Z",
        "senderCommunicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - R6ZTKkbsk0SM2Ck6WPpd4A.0
      x-processing-time:
      - 188ms
    status:
      code: 200
      message: OK
version: 1
