interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Jul 2023 23:48:39 GMT
      Repeatability-Request-ID:
      - 4cc93729-1ac5-11ee-9eb0-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Tue, 04 Jul 2023 23:48:39 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:48:40.2621547+00:00",
        "validFrom": "2023-07-04T23:48:39.9737078+00:00", "validUntil": "2023-12-31T23:48:39.9737078+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99465628185224088'
      ms-cv:
      - I4XQ8X5PZk28in/8aGnSiw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-07-05T00:48:40.299335", "validUntil": "2023-07-05T01:48:40.299335"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 5GW8J5zwS2aupB06Z537khYbcx+wLHZqWxhcDHJl7Rc=
      x-ms-date:
      - Tue, 04 Jul 2023 23:48:40 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:48:40.2621547+00:00",
        "validFrom": "2023-07-05T00:48:40.299335+00:00", "validUntil": "2023-07-05T01:48:40.299335+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cpmWLLAuD0atOCIKcb+BKA.0
    status:
      code: 200
      message: OK
version: 1
