interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 06 Jul 2023 21:16:13 GMT
      Repeatability-Request-ID:
      - 56018d36-1c42-11ee-b23a-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 06 Jul 2023 21:16:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-06T21:16:13.0607759+00:00",
        "validFrom": "2023-07-06T21:16:12.888382+00:00", "validUntil": "2024-01-02T21:16:12.888382+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99440997266730765'
      ms-cv:
      - T60CXK4lJUelncimyLc81A.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:16:14 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - mMZsJObYbk6XRp0RCv7IVw.0
      x-processing-time:
      - 104ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:148b5bb1-6b03-4764-88ea-6b821eca060e_00000019-ccf1-b00d-e138-8e3a0d00b32c":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 2BxLqyfDjcCXkU1V7dvHc6nmMnpceP3uLBVOaAdweOc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:16:14 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qaltP+xQ9Uas+3mBi1XDZg.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:16:16 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /jaYMVrGbEO4tYWBFuAq1A.0
    status:
      code: 200
      message: OK
version: 1
