interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 05 Jul 2023 18:28:54 GMT
      Repeatability-Request-ID:
      - cc4cf011-1b61-11ee-849e-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 18:28:54 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:28:55.7523899+00:00",
        "validFrom": "2023-07-05T18:28:55.4717821+00:00", "validUntil": "2024-01-01T18:28:55.4717821+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99479420423318805'
      ms-cv:
      - 0VkwCAoOdUa/VJ+Ph4GMRg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-07-05T19:28:56.024576", "validUntil": "2023-07-05T20:28:56.024576"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 9BJ19MX7N5ZC6Da6oD6jxtdxngnxuYFuy4O9oAcLot8=
      x-ms-date:
      - Wed, 05 Jul 2023 18:28:56 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:28:55.7523899+00:00",
        "validFrom": "2023-07-05T19:28:56.024576+00:00", "validUntil": "2023-07-05T20:28:56.024576+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - NOSrL1LJuEuWl/9sw03YRg.0
    status:
      code: 200
      message: OK
version: 1
