interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:34:58 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/591946cd-ce78-4f1a-ba8c-3df35b1cedb1?api-version=2022-12-01
      ms-cv:
      - csjeZ3mHJEaNIunLN0ilnQ.0
      operation-id:
      - search_591946cd-ce78-4f1a-ba8c-3df35b1cedb1
      operation-location:
      - /phoneNumbers/operations/search_591946cd-ce78-4f1a-ba8c-3df35b1cedb1?api-version=2022-12-01
      search-id:
      - 591946cd-ce78-4f1a-ba8c-3df35b1cedb1
      x-processing-time:
      - 1650ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:35:00 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_591946cd-ce78-4f1a-ba8c-3df35b1cedb1?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/591946cd-ce78-4f1a-ba8c-3df35b1cedb1?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:35:00.7287295+00:00", "id": "search_591946cd-ce78-4f1a-ba8c-3df35b1cedb1",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/591946cd-ce78-4f1a-ba8c-3df35b1cedb1?api-version=2022-12-01
      ms-cv:
      - aUGsfnwTIEik+UjNsWUZig.0
      x-processing-time:
      - 340ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:35:04 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/591946cd-ce78-4f1a-ba8c-3df35b1cedb1?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "591946cd-ce78-4f1a-ba8c-3df35b1cedb1", "phoneNumbers":
        ["+18332311865"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T18:51:02.5394609+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oEam51evqUWtdGUVGJYG5Q.0
      x-processing-time:
      - 377ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "591946cd-ce78-4f1a-ba8c-3df35b1cedb1"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - bW7/L9f0Ff71FSRLxY5ITuNCFhASpxX/3lMJn/Aprp4=
      x-ms-date:
      - Wed, 05 Jul 2023 18:35:04 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 7a16PCh11kW781XPl9OpAw.0
      operation-id:
      - purchase_591946cd-ce78-4f1a-ba8c-3df35b1cedb1
      operation-location:
      - /phoneNumbers/operations/purchase_591946cd-ce78-4f1a-ba8c-3df35b1cedb1?api-version=2022-12-01
      purchase-id:
      - 591946cd-ce78-4f1a-ba8c-3df35b1cedb1
      x-processing-time:
      - 791ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:35:05 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_591946cd-ce78-4f1a-ba8c-3df35b1cedb1?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T18:35:00.7287295+00:00", "id": "purchase_591946cd-ce78-4f1a-ba8c-3df35b1cedb1",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - CBMsZipI3UOIy7dHirZpCA.0
      x-processing-time:
      - 227ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kufnJv81brxhoLpe08FuhP6IkUHmdiXEWpPKkgK1MS0=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - D0aYDoZ5FE6Pp3YBivezyw.0
      x-processing-time:
      - 247ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
