interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:54:07 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/1dcb0e03-3725-46ad-8853-0a44c1a2eec3?api-version=2022-12-01
      ms-cv:
      - uxElRIUwSkum7K5iRAo2/w.0
      operation-id:
      - search_1dcb0e03-3725-46ad-8853-0a44c1a2eec3
      operation-location:
      - /phoneNumbers/operations/search_1dcb0e03-3725-46ad-8853-0a44c1a2eec3?api-version=2022-12-01
      search-id:
      - 1dcb0e03-3725-46ad-8853-0a44c1a2eec3
      x-processing-time:
      - 3051ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:54:10 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_1dcb0e03-3725-46ad-8853-0a44c1a2eec3?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/1dcb0e03-3725-46ad-8853-0a44c1a2eec3?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:54:10.3455007+00:00", "id": "search_1dcb0e03-3725-46ad-8853-0a44c1a2eec3",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/1dcb0e03-3725-46ad-8853-0a44c1a2eec3?api-version=2022-12-01
      ms-cv:
      - CkOVFlGFDk6/Mf42L/WKNg.0
      x-processing-time:
      - 235ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:54:13 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/1dcb0e03-3725-46ad-8853-0a44c1a2eec3?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "1dcb0e03-3725-46ad-8853-0a44c1a2eec3", "phoneNumbers":
        ["+18442195827"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T00:10:12.0115653+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cnptUvHOTUyU/ZYasOZTgA.0
      x-processing-time:
      - 403ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "1dcb0e03-3725-46ad-8853-0a44c1a2eec3"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - DMweuNyAPQkxkwqiWHKjnOqOaf/zq9An1A4mjP8a9os=
      x-ms-date:
      - Tue, 04 Jul 2023 23:54:13 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - qqM8rv3XikSt8BXtoYG7DA.0
      operation-id:
      - purchase_1dcb0e03-3725-46ad-8853-0a44c1a2eec3
      operation-location:
      - /phoneNumbers/operations/purchase_1dcb0e03-3725-46ad-8853-0a44c1a2eec3?api-version=2022-12-01
      purchase-id:
      - 1dcb0e03-3725-46ad-8853-0a44c1a2eec3
      x-processing-time:
      - 768ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:54:14 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_1dcb0e03-3725-46ad-8853-0a44c1a2eec3?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-04T23:54:10.3455007+00:00", "id": "purchase_1dcb0e03-3725-46ad-8853-0a44c1a2eec3",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BAqFKmcQvk2xBWS4B2SI/A.0
      x-processing-time:
      - 237ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - e6vcpOxbIgxnHN0DpodI3fmdHIhIDbFY3bapRS2MIBc=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - C6Xi2vH4lUKWcEa7d6HdBw.0
      x-processing-time:
      - 441ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
