interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:35 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/3f9c0753-456e-4f50-a949-ab005021cda5?api-version=2022-12-01
      ms-cv:
      - bhlhNEEEqkqPMM7Uw2wOnw.0
      operation-id:
      - search_3f9c0753-456e-4f50-a949-ab005021cda5
      operation-location:
      - /phoneNumbers/operations/search_3f9c0753-456e-4f50-a949-ab005021cda5?api-version=2022-12-01
      search-id:
      - 3f9c0753-456e-4f50-a949-ab005021cda5
      x-processing-time:
      - 4532ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:40 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_3f9c0753-456e-4f50-a949-ab005021cda5?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/3f9c0753-456e-4f50-a949-ab005021cda5?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:49:40.1300432+00:00", "id": "search_3f9c0753-456e-4f50-a949-ab005021cda5",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/3f9c0753-456e-4f50-a949-ab005021cda5?api-version=2022-12-01
      ms-cv:
      - s6NPRCPpF0KCRy0V8jZgbQ.0
      x-processing-time:
      - 222ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:43 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/3f9c0753-456e-4f50-a949-ab005021cda5?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "3f9c0753-456e-4f50-a949-ab005021cda5", "phoneNumbers":
        ["+18332272504"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T00:05:42.1615497+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0SieVe7BzU2k7Ag/WbEuXw.0
      x-processing-time:
      - 1037ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "3f9c0753-456e-4f50-a949-ab005021cda5"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - V5Ng4Od1BcCmJ+SV/EgntD5SqI8fOXyzEJVv8R+a9yI=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:44 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - p9s9GRbtWECTi4o2aDWwvw.0
      operation-id:
      - purchase_3f9c0753-456e-4f50-a949-ab005021cda5
      operation-location:
      - /phoneNumbers/operations/purchase_3f9c0753-456e-4f50-a949-ab005021cda5?api-version=2022-12-01
      purchase-id:
      - 3f9c0753-456e-4f50-a949-ab005021cda5
      x-processing-time:
      - 763ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:49:45 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_3f9c0753-456e-4f50-a949-ab005021cda5?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-04T23:49:40.1300432+00:00", "id": "purchase_3f9c0753-456e-4f50-a949-ab005021cda5",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - dWcIudk+sU+f41EBxbdw2Q.0
      x-processing-time:
      - 220ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - XrpuB5jfbr9XCTVNon402EbNVnB87A6hwAwO/Ayt0X4=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - atCD7IUIQUKZyltGYLno6A.0
      x-processing-time:
      - 121ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
