interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:13:01 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-07T21:13:00.8759293+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - y6Ih89x6P0CRmy72Q1+ZjQ.0
      x-processing-time:
      - 108ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "thread-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - b0cc2d01-0866-4f0e-91ac-fc546a93ba9d
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "thread-topic", "createdOn":
        "2023-07-06T21:13:01Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AGxWa-9jnqeURgC9eLbf5cBiyklBpclrk9URaNGwOUls1@thread.v2
      ms-cv:
      - /aWHMqLnwEOHDRzHDWz8cw.0
      x-processing-time:
      - 567ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WHjj8M+YM0CO9ed+5KeEmw.0
      x-processing-time:
      - 114ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "sanitized", "type": "topicUpdated", "sequenceId":
        "2", "version": "1688677981763", "content": {"topic": "thread-topic", "initiatorCommunicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}}, "createdOn":
        "2023-07-06T21:13:01Z"}, {"id": "sanitized", "type": "participantAdded", "sequenceId":
        "1", "version": "1688677981710", "content": {"participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "shareHistoryTime":
        "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}, "createdOn": "2023-07-06T21:13:01Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cY1klI216kmZhajkO99q8g.0
      x-processing-time:
      - 127ms
    status:
      code: 200
      message: OK
- request:
    body: '{"chatMessageId": "1688677981763"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      ms-cv:
      - FvSso0Jge0+NA0qIVr2IYw.0
      x-processing-time:
      - 110ms
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/readReceipts?api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"senderCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}, "chatMessageId": "1688677981763",
        "readOn": "2023-07-06T21:13:03Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Wsfh4r0g7EaQ9eehUJBEHA.0
      x-processing-time:
      - 122ms
    status:
      code: 200
      message: OK
version: 1
