interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:20:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/c177043f-0242-46bb-ae8d-6f4c23c4749e?api-version=2022-12-01
      ms-cv:
      - B7yFiajS302OQwbp0xxHug.0
      operation-id:
      - search_c177043f-0242-46bb-ae8d-6f4c23c4749e
      operation-location:
      - /phoneNumbers/operations/search_c177043f-0242-46bb-ae8d-6f4c23c4749e?api-version=2022-12-01
      search-id:
      - c177043f-0242-46bb-ae8d-6f4c23c4749e
      x-processing-time:
      - 1782ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:20:32 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_c177043f-0242-46bb-ae8d-6f4c23c4749e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/c177043f-0242-46bb-ae8d-6f4c23c4749e?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:20:31.1700436+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/c177043f-0242-46bb-ae8d-6f4c23c4749e?api-version=2022-12-01
      ms-cv:
      - xd1ok8HSNkm0k8yha7cmjQ.0
      x-processing-time:
      - 170ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:20:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/c177043f-0242-46bb-ae8d-6f4c23c4749e?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "c177043f-0242-46bb-ae8d-6f4c23c4749e", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-06-23T17:36:32.8684797+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Q5swf4/it0GpHPqKdTYD0Q.0
      x-processing-time:
      - 316ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "c177043f-0242-46bb-ae8d-6f4c23c4749e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - JYszEm2ht2Kfqk2tV9V2mSpnoB8+UOYHo0eRU/iSJAw=
      x-ms-date:
      - Fri, 23 Jun 2023 17:20:35 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - e+r1DUIlok+HZF17EI8mLQ.0
      operation-id:
      - purchase_c177043f-0242-46bb-ae8d-6f4c23c4749e
      operation-location:
      - /phoneNumbers/operations/purchase_c177043f-0242-46bb-ae8d-6f4c23c4749e?api-version=2022-12-01
      purchase-id:
      - c177043f-0242-46bb-ae8d-6f4c23c4749e
      x-processing-time:
      - 694ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:20:35 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_c177043f-0242-46bb-ae8d-6f4c23c4749e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-06-23T17:20:31.1700436+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - p/2TgQ/1DECr6E5+48ueZA.0
      x-processing-time:
      - 174ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:20:54 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-06-23T17:20:49.1228005+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oxkqripxv0+WbgP3STuw+g.0
      x-processing-time:
      - 5566ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
