interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:09:52 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/122fe35f-b23d-4f2a-b2a3-40453033de87?api-version=2022-12-01
      ms-cv:
      - S93WalHtk0OrlKFO+RpaiA.0
      operation-id:
      - search_122fe35f-b23d-4f2a-b2a3-40453033de87
      operation-location:
      - /phoneNumbers/operations/search_122fe35f-b23d-4f2a-b2a3-40453033de87?api-version=2022-12-01
      search-id:
      - 122fe35f-b23d-4f2a-b2a3-40453033de87
      x-processing-time:
      - 1718ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:09:54 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_122fe35f-b23d-4f2a-b2a3-40453033de87?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/122fe35f-b23d-4f2a-b2a3-40453033de87?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:09:53.4438001+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/122fe35f-b23d-4f2a-b2a3-40453033de87?api-version=2022-12-01
      ms-cv:
      - Q1m+FcJmlEunkBBM7s1rXQ.0
      x-processing-time:
      - 250ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:09:57 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/122fe35f-b23d-4f2a-b2a3-40453033de87?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "122fe35f-b23d-4f2a-b2a3-40453033de87", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:25:55.3975248+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yoNcMMXqJUCHINGQIxUuiw.0
      x-processing-time:
      - 416ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "122fe35f-b23d-4f2a-b2a3-40453033de87"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - Ng7fXZzeTIwn6jyRYN3Aif/7SCw+O9XaVbc5dnRzwhU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:09:57 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - aMs3HiSnE0++KFFGrt95gA.0
      operation-id:
      - purchase_122fe35f-b23d-4f2a-b2a3-40453033de87
      operation-location:
      - /phoneNumbers/operations/purchase_122fe35f-b23d-4f2a-b2a3-40453033de87?api-version=2022-12-01
      purchase-id:
      - 122fe35f-b23d-4f2a-b2a3-40453033de87
      x-processing-time:
      - 947ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:09:58 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_122fe35f-b23d-4f2a-b2a3-40453033de87?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:09:53.4438001+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - JiSCF069E0S5Z00AzwmRTQ.0
      x-processing-time:
      - 251ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:10:18 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-07-06T21:10:11.5944193+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ylj/be73FkaXUziTDwOlyA.0
      x-processing-time:
      - 2585ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
