interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:50:16 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01
      ms-cv:
      - ouJNpgjQdkCBy12jdmr8Xw.0
      operation-id:
      - search_250bfda0-1769-43e1-9d92-d1f7b41ba587
      operation-location:
      - /phoneNumbers/operations/search_250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01
      search-id:
      - 250bfda0-1769-43e1-9d92-d1f7b41ba587
      x-processing-time:
      - 1729ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:50:18 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:50:18.2300068+00:00", "id": "search_250bfda0-1769-43e1-9d92-d1f7b41ba587",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01
      ms-cv:
      - lil3sj3BzkSNH+aBc281bA.0
      x-processing-time:
      - 226ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:50:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "250bfda0-1769-43e1-9d92-d1f7b41ba587", "phoneNumbers":
        ["+18332272512"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T00:06:20.1982298+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oOkDC+L/z0uj7w88MXeurw.0
      x-processing-time:
      - 371ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "250bfda0-1769-43e1-9d92-d1f7b41ba587"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - npsrCsx2b3VA+g4a0wmgvpE/LZoIcqdKs6GnDqntMA0=
      x-ms-date:
      - Tue, 04 Jul 2023 23:50:21 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - X3i9KI6UHUyS7GSMWyKqkQ.0
      operation-id:
      - purchase_250bfda0-1769-43e1-9d92-d1f7b41ba587
      operation-location:
      - /phoneNumbers/operations/purchase_250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01
      purchase-id:
      - 250bfda0-1769-43e1-9d92-d1f7b41ba587
      x-processing-time:
      - 803ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:50:22 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_250bfda0-1769-43e1-9d92-d1f7b41ba587?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-04T23:50:18.2300068+00:00", "id": "purchase_250bfda0-1769-43e1-9d92-d1f7b41ba587",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ySpnoOpto0CVON3W37OiVQ.0
      x-processing-time:
      - 238ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - NafbY91RfrV6DMs8batk7j/+Mi/SBtHb5tonmB0gHrk=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - k5UI4k9ghEOMseiTnHhXaw.0
      x-processing-time:
      - 253ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
