interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 06 Jul 2023 21:18:30 GMT
      Repeatability-Request-ID:
      - a7f02b61-1c42-11ee-8350-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 06 Jul 2023 21:18:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-06T21:18:30.2727503+00:00",
        "validFrom": "2023-07-06T21:18:30.0854896+00:00", "validUntil": "2024-01-02T21:18:30.0854896+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99428346707680880'
      ms-cv:
      - Ny0He7ha8EqZQJtcpwqWJQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2023-07-06T22:18:31.119629", "validUntil": "2023-07-06T23:18:31.119629"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - eZNy6ZZer7GVcYkGc47PL28IfFK6TD51o6b3W9hdNnQ=
      x-ms-date:
      - Thu, 06 Jul 2023 21:18:31 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-06T21:18:30.2727503+00:00",
        "validFrom": "2023-07-06T22:18:31.119629+00:00", "validUntil": "2023-07-06T23:18:31.119629+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xg8pb28sXkqc7+pYIwPFZA.0
    status:
      code: 200
      message: OK
version: 1
