interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:27 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/4e43e431-ee13-46a0-8bc4-b7105385f027?api-version=2022-12-01
      ms-cv:
      - 2SkH535icE+3qrnHLmJYVA.0
      operation-id:
      - search_4e43e431-ee13-46a0-8bc4-b7105385f027
      operation-location:
      - /phoneNumbers/operations/search_4e43e431-ee13-46a0-8bc4-b7105385f027?api-version=2022-12-01
      search-id:
      - 4e43e431-ee13-46a0-8bc4-b7105385f027
      x-processing-time:
      - 1734ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:30 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_4e43e431-ee13-46a0-8bc4-b7105385f027?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/4e43e431-ee13-46a0-8bc4-b7105385f027?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:18:29.3881612+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/4e43e431-ee13-46a0-8bc4-b7105385f027?api-version=2022-12-01
      ms-cv:
      - CKAQO0KroEKT3Db4IrpIiQ.0
      x-processing-time:
      - 249ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:32 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/4e43e431-ee13-46a0-8bc4-b7105385f027?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "4e43e431-ee13-46a0-8bc4-b7105385f027", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-06-23T17:34:31.2053925+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EkdvxEWzVkmE295yDKXPyA.0
      x-processing-time:
      - 392ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "4e43e431-ee13-46a0-8bc4-b7105385f027"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - TBV1L189sxtgyYjZI726k6vvrUkukTQ9YEdyyedNV04=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:33 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - BbeZoAvdv0avmKshWO84Kg.0
      operation-id:
      - purchase_4e43e431-ee13-46a0-8bc4-b7105385f027
      operation-location:
      - /phoneNumbers/operations/purchase_4e43e431-ee13-46a0-8bc4-b7105385f027?api-version=2022-12-01
      purchase-id:
      - 4e43e431-ee13-46a0-8bc4-b7105385f027
      x-processing-time:
      - 787ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:34 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_4e43e431-ee13-46a0-8bc4-b7105385f027?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-06-23T17:18:29.3881612+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vTAYBuzfRESFmw/vLrWe0w.0
      x-processing-time:
      - 224ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:51 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-06-23T17:18:46.9944095+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - KOavV0G2fkqZafSzSuDGtQ.0
      x-processing-time:
      - 1889ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
