interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:12 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/855c3d12-6d18-44e4-bcef-6d4d579660ea?api-version=2022-12-01
      ms-cv:
      - rkNHuDmo4UeM274Dgx1xRg.0
      operation-id:
      - search_855c3d12-6d18-44e4-bcef-6d4d579660ea
      operation-location:
      - /phoneNumbers/operations/search_855c3d12-6d18-44e4-bcef-6d4d579660ea?api-version=2022-12-01
      search-id:
      - 855c3d12-6d18-44e4-bcef-6d4d579660ea
      x-processing-time:
      - 3129ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:15 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_855c3d12-6d18-44e4-bcef-6d4d579660ea?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/855c3d12-6d18-44e4-bcef-6d4d579660ea?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:30:15.4602506+00:00", "id": "search_855c3d12-6d18-44e4-bcef-6d4d579660ea",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/855c3d12-6d18-44e4-bcef-6d4d579660ea?api-version=2022-12-01
      ms-cv:
      - h0D1NpA54kSYuE3DlNPnaw.0
      x-processing-time:
      - 208ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:18 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/855c3d12-6d18-44e4-bcef-6d4d579660ea?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "855c3d12-6d18-44e4-bcef-6d4d579660ea", "phoneNumbers":
        ["+18442215964"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T18:46:17.4243622+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - VdBp+ewXXk+nhurQsOIYsg.0
      x-processing-time:
      - 484ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "855c3d12-6d18-44e4-bcef-6d4d579660ea"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - eWMQwT7boWeYnr0wG3C1r3ydnQcp6tAVJAwlkgIV0Ok=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - hbXKwX5iSUSSPxnKZFk3MQ.0
      operation-id:
      - purchase_855c3d12-6d18-44e4-bcef-6d4d579660ea
      operation-location:
      - /phoneNumbers/operations/purchase_855c3d12-6d18-44e4-bcef-6d4d579660ea?api-version=2022-12-01
      purchase-id:
      - 855c3d12-6d18-44e4-bcef-6d4d579660ea
      x-processing-time:
      - 920ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_855c3d12-6d18-44e4-bcef-6d4d579660ea?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T18:30:15.4602506+00:00", "id": "purchase_855c3d12-6d18-44e4-bcef-6d4d579660ea",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - QadxpL+d1k2G9D26vgO4GA.0
      x-processing-time:
      - 264ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 0cj6SxkOAkdLnxP+uqBdn67lFuO+sLiGib7IUTCJLpc=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - LIF5ftzFZUWYY1kDyDiwnQ.0
      x-processing-time:
      - 163ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
