interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e?api-version=2022-12-01
      ms-cv:
      - d60LPK1UlU64NTQQVw/N3g.0
      operation-id:
      - search_e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e
      operation-location:
      - /phoneNumbers/operations/search_e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e?api-version=2022-12-01
      search-id:
      - e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e
      x-processing-time:
      - 1833ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:12 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:14:11.3896917+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e?api-version=2022-12-01
      ms-cv:
      - jxIXDCsTjk+4ywLK7vIfHg.0
      x-processing-time:
      - 207ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:15 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:30:12.8992625+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2X4U3lfvoUmrOeKyR5eysA.0
      x-processing-time:
      - 381ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - zWxMjZMxtTnEMG4v+4AnvtQXd2H4beNOPJQ1zfrHKBc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:15 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 1OJ9j+2b8USfJK8EdJDS5Q.0
      operation-id:
      - purchase_e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e
      operation-location:
      - /phoneNumbers/operations/purchase_e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e?api-version=2022-12-01
      purchase-id:
      - e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e
      x-processing-time:
      - 768ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:16 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_e0b2ecb3-1840-48dd-b7d4-c74b49cbf41e?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:14:11.3896917+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PyWxm0kcbUKw+VC+thvWbQ.0
      x-processing-time:
      - 210ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:14:35 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-06T21:14:28.6911076+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SV9nn3qCcUqB3tErcGmvxg.0
      x-processing-time:
      - 1965ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
