interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01
      ms-cv:
      - rb8F53M6nkCL/UFjGS0sUQ.0
      operation-id:
      - search_437c8d62-84a6-4ec4-84f5-bf8b05ac41a3
      operation-location:
      - /phoneNumbers/operations/search_437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01
      search-id:
      - 437c8d62-84a6-4ec4-84f5-bf8b05ac41a3
      x-processing-time:
      - 1570ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:32 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:18:32.1865503+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01
      ms-cv:
      - Z4V/GtJ1TU6LtCB8lY/dGg.0
      x-processing-time:
      - 249ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:35 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "437c8d62-84a6-4ec4-84f5-bf8b05ac41a3", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-06-23T17:34:33.9579803+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rj0TYYoyCUK+7Pbz63Ap4A.0
      x-processing-time:
      - 369ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "437c8d62-84a6-4ec4-84f5-bf8b05ac41a3"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - u+HWmy8zcLqLDrNEyANnXC7RoG7HivTBWA8Kmk989RU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:36 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 7ISzylgMDUayQYz1Gqpjuw.0
      operation-id:
      - purchase_437c8d62-84a6-4ec4-84f5-bf8b05ac41a3
      operation-location:
      - /phoneNumbers/operations/purchase_437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01
      purchase-id:
      - 437c8d62-84a6-4ec4-84f5-bf8b05ac41a3
      x-processing-time:
      - 699ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:36 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_437c8d62-84a6-4ec4-84f5-bf8b05ac41a3?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-06-23T17:18:32.1865503+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - uQn9xXFl5kysGOGfLfpCGw.0
      x-processing-time:
      - 206ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:18:56 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-06-23T17:18:50.6437858+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - kNfs/sKJCU6jFyhqljxHLQ.0
      x-processing-time:
      - 2385ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
