interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Jul 2023 23:44:30 GMT
      Repeatability-Request-ID:
      - b831f72e-1ac4-11ee-8619-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Tue, 04 Jul 2023 23:44:30 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:44:31.1116419+00:00",
        "validFrom": "2023-07-04T23:44:30.6699334+00:00", "validUntil": "2023-12-31T23:44:30.6699334+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99449817154044203'
      ms-cv:
      - l+fuO+qItkScfHB8HaGrJw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:44:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - caVZG4/cJUabH6EDRr3HAg.0
      x-processing-time:
      - 102ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:22f795fb-aa55-4ab2-9340-2dd88d0fa897_00000019-c32c-bea0-92fd-8b3a0d00029c":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - DjAbD8WPDxvabICH+gBOCWsqJXb0srTWNHJoMskK/rs=
      x-ms-date:
      - Tue, 04 Jul 2023 23:44:32 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2J8Y4Lv5jEySoHj52Kl36A.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:44:33 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}]}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - /nHzI0qt3USMEdMRahRleQ.0
    status:
      code: 200
      message: OK
version: 1
