interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Jul 2023 23:45:25 GMT
      Repeatability-Request-ID:
      - d94ee95e-1ac4-11ee-b151-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Tue, 04 Jul 2023 23:45:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:45:26.7434781+00:00",
        "validFrom": "2023-07-04T23:45:26.2454473+00:00", "validUntil": "2023-12-31T23:45:26.2454473+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99487445282669483'
      ms-cv:
      - QLEX0Mshm0SPJ0PPneneEQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:123456c": {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - GGeywqkmwEbmvIr+M7fYvPtgLYHCAoJWqoApBN7ZlcA=
      x-ms-date:
      - Tue, 04 Jul 2023 23:45:26 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "Invalid value for the
        Participants."}}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - UTRah893IkeIlErb76D8/Q.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
