interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:21 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/50a37f62-050b-47e0-9d18-62204579cec5?api-version=2022-12-01
      ms-cv:
      - gJr+Y+QZuE250aqBStqs1Q.0
      operation-id:
      - search_50a37f62-050b-47e0-9d18-62204579cec5
      operation-location:
      - /phoneNumbers/operations/search_50a37f62-050b-47e0-9d18-62204579cec5?api-version=2022-12-01
      search-id:
      - 50a37f62-050b-47e0-9d18-62204579cec5
      x-processing-time:
      - 3788ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:26 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_50a37f62-050b-47e0-9d18-62204579cec5?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/50a37f62-050b-47e0-9d18-62204579cec5?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:42:25.9391814+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/50a37f62-050b-47e0-9d18-62204579cec5?api-version=2022-12-01
      ms-cv:
      - S83kCEHSiEaGDTptKyQnPQ.0
      x-processing-time:
      - 263ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:29 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/50a37f62-050b-47e0-9d18-62204579cec5?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "50a37f62-050b-47e0-9d18-62204579cec5", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-04T23:58:27.8885193+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - crBTuGTH50mb/nzr+i95Cg.0
      x-processing-time:
      - 397ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "50a37f62-050b-47e0-9d18-62204579cec5"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 2nHMb8djiSqduD4udQhiRHUehhcOTSsmmV4mZ0IJOn0=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:29 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - EvAFO6qjoU+QJxtBUKicgw.0
      operation-id:
      - purchase_50a37f62-050b-47e0-9d18-62204579cec5
      operation-location:
      - /phoneNumbers/operations/purchase_50a37f62-050b-47e0-9d18-62204579cec5?api-version=2022-12-01
      purchase-id:
      - 50a37f62-050b-47e0-9d18-62204579cec5
      x-processing-time:
      - 755ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:30 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_50a37f62-050b-47e0-9d18-62204579cec5?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-04T23:42:25.9391814+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - WN9bq4zbNUGu7dTcl4KnIw.0
      x-processing-time:
      - 242ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:52 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-07-04T23:42:44.6037762+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3hrnODWbg0eute6qzkEPCg.0
      x-processing-time:
      - 2326ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
