interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Jul 2023 23:47:47 GMT
      Repeatability-Request-ID:
      - 2dd57b30-1ac5-11ee-bcff-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Tue, 04 Jul 2023 23:47:47 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:47:47.8361608+00:00",
        "validFrom": "2023-07-04T23:47:47.7092572+00:00", "validUntil": "2023-12-31T23:47:47.7092572+00:00"}'
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99416679977093682'
      ms-cv:
      - q+3gkPRJi0OOLu0URgzTEw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-11-22T19:14:59.829926+00:00", "validUntil": "2022-11-23"}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - zlWO4EFhT1ervgHolxeGoDg90Trj1w0sz1JnhetMYZs=
      x-ms-date:
      - Tue, 04 Jul 2023 23:47:48 GMT
    method: PATCH
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-03-31-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3ZmE59cIF0qVeBdkNKDiaQ.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
