interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Thu, 06 Jul 2023 21:13:10 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/2214d636-b8d1-4e97-9c58-d0cb61bbd781?api-version=2022-12-01
      ms-cv:
      - tUUnqS4nukGDrX0hmRTBQA.0
      operation-id:
      - search_2214d636-b8d1-4e97-9c58-d0cb61bbd781
      operation-location:
      - /phoneNumbers/operations/search_2214d636-b8d1-4e97-9c58-d0cb61bbd781?api-version=2022-12-01
      search-id:
      - 2214d636-b8d1-4e97-9c58-d0cb61bbd781
      x-processing-time:
      - 1328ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:13:12 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_2214d636-b8d1-4e97-9c58-d0cb61bbd781?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/2214d636-b8d1-4e97-9c58-d0cb61bbd781?api-version=2022-12-01",
        "createdDateTime": "2023-07-06T21:13:11.6913667+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/2214d636-b8d1-4e97-9c58-d0cb61bbd781?api-version=2022-12-01
      ms-cv:
      - etJDg6XU6U+RCLwXk4F0Hw.0
      x-processing-time:
      - 207ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:13:15 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/2214d636-b8d1-4e97-9c58-d0cb61bbd781?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "2214d636-b8d1-4e97-9c58-d0cb61bbd781", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-06T21:29:13.5383287+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ninntgv54Eyzz9Q+0fY76Q.0
      x-processing-time:
      - 348ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "2214d636-b8d1-4e97-9c58-d0cb61bbd781"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - S32VqiLuV/PloIu8M8PG/oSfI7W1oJ5aEONvkxLoom0=
      x-ms-date:
      - Thu, 06 Jul 2023 21:13:15 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 7wgwzPCnQkKk2qX0TQ/hbA.0
      operation-id:
      - purchase_2214d636-b8d1-4e97-9c58-d0cb61bbd781
      operation-location:
      - /phoneNumbers/operations/purchase_2214d636-b8d1-4e97-9c58-d0cb61bbd781?api-version=2022-12-01
      purchase-id:
      - 2214d636-b8d1-4e97-9c58-d0cb61bbd781
      x-processing-time:
      - 716ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:13:16 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_2214d636-b8d1-4e97-9c58-d0cb61bbd781?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-06T21:13:11.6913667+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - aGzSjpK1OEeWNmeewK8G0g.0
      x-processing-time:
      - 225ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:13:35 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-06T21:13:29.9163695+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - EF/H8gCoi0OUiGIbkzr6Bw.0
      x-processing-time:
      - 2595ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
