interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 05 Jul 2023 18:25:18 GMT
      Repeatability-Request-ID:
      - 4b51c810-1b61-11ee-ad8e-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 18:25:18 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:25:19.6758296+00:00",
        "validFrom": "2023-07-05T18:25:19.133196+00:00", "validUntil": "2024-01-01T18:25:19.133196+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99442286413287888'
      ms-cv:
      - SOicoVviL0Wx3hdi2Rw6wg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
