interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:16 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/643b4ac8-d786-42c8-8b1a-be094b6abbc4?api-version=2022-12-01
      ms-cv:
      - tg1icCx8rUSCqy/u1JbjEw.0
      operation-id:
      - search_643b4ac8-d786-42c8-8b1a-be094b6abbc4
      operation-location:
      - /phoneNumbers/operations/search_643b4ac8-d786-42c8-8b1a-be094b6abbc4?api-version=2022-12-01
      search-id:
      - 643b4ac8-d786-42c8-8b1a-be094b6abbc4
      x-processing-time:
      - 2405ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:19 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_643b4ac8-d786-42c8-8b1a-be094b6abbc4?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/643b4ac8-d786-42c8-8b1a-be094b6abbc4?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:23:18.6794087+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/643b4ac8-d786-42c8-8b1a-be094b6abbc4?api-version=2022-12-01
      ms-cv:
      - 2g1XNQ3xlkeVXfMA26dq8g.0
      x-processing-time:
      - 187ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/643b4ac8-d786-42c8-8b1a-be094b6abbc4?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "643b4ac8-d786-42c8-8b1a-be094b6abbc4", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T18:39:20.7166968+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - lHUAEkL4A0eMgr9/fbJEAg.0
      x-processing-time:
      - 381ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "643b4ac8-d786-42c8-8b1a-be094b6abbc4"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - VOkV083WF0fKaogKaFRYbmLCMPi7Sw1uA07Izgt8i60=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:22 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - bXJwLr5+7ku7dDR2oxWfYQ.0
      operation-id:
      - purchase_643b4ac8-d786-42c8-8b1a-be094b6abbc4
      operation-location:
      - /phoneNumbers/operations/purchase_643b4ac8-d786-42c8-8b1a-be094b6abbc4?api-version=2022-12-01
      purchase-id:
      - 643b4ac8-d786-42c8-8b1a-be094b6abbc4
      x-processing-time:
      - 732ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:22 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_643b4ac8-d786-42c8-8b1a-be094b6abbc4?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T18:23:18.6794087+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GPc2qRLP4kC+3QGUupQL5w.0
      x-processing-time:
      - 177ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:41 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-05T18:23:36.4703041+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - IpNH5ekIWk2XdcIPkI+vzw.0
      x-processing-time:
      - 2678ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
