interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Thu, 06 Jul 2023 21:03:15 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-07T21:03:14.6580258+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - sv5Gfao8tkiTEH8isBplyQ.0
      x-processing-time:
      - 104ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 4fe792ca-5012-46de-9920-4fe86682b063
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "another-topic", "createdOn":
        "2023-07-06T21:03:15Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AALAJkvn846iiNakoSVLeOB9aCHNMoP_2mNezbIwlEnY1@thread.v2
      ms-cv:
      - hqC4mPpOv0eht9R7U/EDvQ.0
      x-processing-time:
      - 471ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?startTime=2022-01-01T00%3A00%3A00.000Z&api-version=2021-09-07
  response:
    body:
      string: '{"value": [{"id": "sanitized", "type": "topicUpdated", "sequenceId":
        "2", "version": "1688677395303", "content": {"topic": "another-topic", "initiatorCommunicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}}, "createdOn":
        "2023-07-06T21:03:15Z"}, {"id": "sanitized", "type": "participantAdded", "sequenceId":
        "1", "version": "1688677395249", "content": {"participants": [{"communicationIdentifier":
        {"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}, "shareHistoryTime":
        "1970-01-01T00:00:00Z"}], "initiatorCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}, "createdOn": "2023-07-06T21:03:15Z"}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qGoqGBcdh0a0mqjfeBeB8g.0
      x-processing-time:
      - 151ms
    status:
      code: 200
      message: OK
version: 1
