interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 23 Jun 2023 17:10:21 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-06-24T17:10:21.9235778+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XxGqu01pbU2umZkHSH+sYQ.0
      x-processing-time:
      - 108ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - cd3960bf-7b75-4b25-a4c7-00700150cd8d
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2023-06-23T17:10:22Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A7WmgfTRcpWp-7NaWnxmcRoZqtDQjvlvSpxdTBElgz_A1@thread.v2
      ms-cv:
      - BqRMqGI6eEGu8YrPa+k/pA.0
      x-processing-time:
      - 360ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2021-09-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5VKqPsHAdU6QJ5/LaCNPvg.0
      x-processing-time:
      - 293ms
    status:
      code: 201
      message: Created
- request:
    body: '{"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-09-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      ms-cv:
      - BDbcGa3SmkWAD0omNpQ+4Q.0
      x-processing-time:
      - 312ms
    status:
      code: 204
      message: No Content
- request:
    body: '{"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-09-07
  response:
    body:
      string: '{"CommunicationError": {"Code": "BadRequest", "Message": "Identifier
        format is invalid (8:acs:fakeid).", "Details": []}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json
      ms-cv:
      - R9OdkJD46EWqukF3Jhuq7w.0
      x-processing-time:
      - 4ms
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"rawId": "sanitized", "communicationUser": {"id": "sanitized"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/participants/:remove?api-version=2021-09-07
  response:
    body:
      string: '{"CommunicationError": {"Code": "Forbidden", "Message": "The initiator
        doesn''t have the permission to perform the requested operation.", "Details":
        []}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json
      ms-cv:
      - 0TTBCZI9ZE6x596e+2WHow.0
      x-processing-time:
      - 65ms
    status:
      code: 403
      message: Forbidden
version: 1
