interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:15 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/aff831b1-bb82-41e4-9058-ab2eb6c00e87?api-version=2022-12-01
      ms-cv:
      - +YMvdsAjQ0elM1Tmp62o1g.0
      operation-id:
      - search_aff831b1-bb82-41e4-9058-ab2eb6c00e87
      operation-location:
      - /phoneNumbers/operations/search_aff831b1-bb82-41e4-9058-ab2eb6c00e87?api-version=2022-12-01
      search-id:
      - aff831b1-bb82-41e4-9058-ab2eb6c00e87
      x-processing-time:
      - 4837ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:20 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_aff831b1-bb82-41e4-9058-ab2eb6c00e87?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/aff831b1-bb82-41e4-9058-ab2eb6c00e87?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:23:20.1376943+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/aff831b1-bb82-41e4-9058-ab2eb6c00e87?api-version=2022-12-01
      ms-cv:
      - 3nF+w17UqE+k6YziGlIjiQ.0
      x-processing-time:
      - 233ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:22 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/aff831b1-bb82-41e4-9058-ab2eb6c00e87?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "aff831b1-bb82-41e4-9058-ab2eb6c00e87", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T18:39:21.9180621+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - haaWx9ErgUqJ9YKI1TGAFA.0
      x-processing-time:
      - 384ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "aff831b1-bb82-41e4-9058-ab2eb6c00e87"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 8MHrXOfqDaURDx0Mi+oHL42Eq8A9bTLtJRibN3cGHXg=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:23 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - Vsi9XCW970+FWyram7fTWA.0
      operation-id:
      - purchase_aff831b1-bb82-41e4-9058-ab2eb6c00e87
      operation-location:
      - /phoneNumbers/operations/purchase_aff831b1-bb82-41e4-9058-ab2eb6c00e87?api-version=2022-12-01
      purchase-id:
      - aff831b1-bb82-41e4-9058-ab2eb6c00e87
      x-processing-time:
      - 789ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:24 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_aff831b1-bb82-41e4-9058-ab2eb6c00e87?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T18:23:20.1376943+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - BlE5yS7rj06d+bUusWGKpQ.0
      x-processing-time:
      - 260ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:23:43 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2022-12-01
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2023-07-05T18:23:38.1176479+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DWDi7gTjm0+G2foHlXPucg.0
      x-processing-time:
      - 4793ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
