interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:19 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/2aa4009f-d2b0-46f6-b753-422ced6dd49d?api-version=2022-12-01
      ms-cv:
      - xfv7VVSuQkepN4Y7HtFtnQ.0
      operation-id:
      - search_2aa4009f-d2b0-46f6-b753-422ced6dd49d
      operation-location:
      - /phoneNumbers/operations/search_2aa4009f-d2b0-46f6-b753-422ced6dd49d?api-version=2022-12-01
      search-id:
      - 2aa4009f-d2b0-46f6-b753-422ced6dd49d
      x-processing-time:
      - 1659ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:21 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_2aa4009f-d2b0-46f6-b753-422ced6dd49d?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/2aa4009f-d2b0-46f6-b753-422ced6dd49d?api-version=2022-12-01",
        "createdDateTime": "2023-07-05T18:30:21.3840816+00:00", "id": "search_2aa4009f-d2b0-46f6-b753-422ced6dd49d",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/2aa4009f-d2b0-46f6-b753-422ced6dd49d?api-version=2022-12-01
      ms-cv:
      - ZW63hVABakWAo0QwZehRMQ.0
      x-processing-time:
      - 257ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:24 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/2aa4009f-d2b0-46f6-b753-422ced6dd49d?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "2aa4009f-d2b0-46f6-b753-422ced6dd49d", "phoneNumbers":
        ["+18442216016"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-05T18:46:22.9972047+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - biTddkk62UakzJKzIIIogg.0
      x-processing-time:
      - 369ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "2aa4009f-d2b0-46f6-b753-422ced6dd49d"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - K7iaXTvi500kddxYeN2gwvkD2mM/PVKsk9Etxvbg2Aw=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:24 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - n2OMjKUWn0e3meS4674gQA.0
      operation-id:
      - purchase_2aa4009f-d2b0-46f6-b753-422ced6dd49d
      operation-location:
      - /phoneNumbers/operations/purchase_2aa4009f-d2b0-46f6-b753-422ced6dd49d?api-version=2022-12-01
      purchase-id:
      - 2aa4009f-d2b0-46f6-b753-422ced6dd49d
      x-processing-time:
      - 804ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:30:25 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_2aa4009f-d2b0-46f6-b753-422ced6dd49d?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-05T18:30:21.3840816+00:00", "id": "purchase_2aa4009f-d2b0-46f6-b753-422ced6dd49d",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - DEHOWTMFX0Km72RNSxLdXA.0
      x-processing-time:
      - 237ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - VDcAK+nnT9mK+tPxzkVJyR0DLKZyynaT8+wG2Iqxr0A=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Bt9lqbjTB0uRyIzj10RLAg.0
      x-processing-time:
      - 203ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
