interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/c75067b6-bf8c-497c-aa73-e228162d5f8a?api-version=2022-12-01
      ms-cv:
      - 9vI6Q0jmhkeA+cXdNmjGKA.0
      operation-id:
      - search_c75067b6-bf8c-497c-aa73-e228162d5f8a
      operation-location:
      - /phoneNumbers/operations/search_c75067b6-bf8c-497c-aa73-e228162d5f8a?api-version=2022-12-01
      search-id:
      - c75067b6-bf8c-497c-aa73-e228162d5f8a
      x-processing-time:
      - 4806ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:31 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_c75067b6-bf8c-497c-aa73-e228162d5f8a?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/c75067b6-bf8c-497c-aa73-e228162d5f8a?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:42:30.6042533+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/c75067b6-bf8c-497c-aa73-e228162d5f8a?api-version=2022-12-01
      ms-cv:
      - TvIwT0B1Vkq3+5+3CKX/cA.0
      x-processing-time:
      - 276ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:33 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/c75067b6-bf8c-497c-aa73-e228162d5f8a?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "c75067b6-bf8c-497c-aa73-e228162d5f8a", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-04T23:58:32.5888677+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - vGO1qpY+P0CjPkX6vOKm0g.0
      x-processing-time:
      - 438ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "c75067b6-bf8c-497c-aa73-e228162d5f8a"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - JXXdpaGyixRd7DHkgy0EGS3BoSf/wuvvTF1EMqLRwfo=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:34 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - 17pTrvUbZ0i6HJqKVVRQtg.0
      operation-id:
      - purchase_c75067b6-bf8c-497c-aa73-e228162d5f8a
      operation-location:
      - /phoneNumbers/operations/purchase_c75067b6-bf8c-497c-aa73-e228162d5f8a?api-version=2022-12-01
      purchase-id:
      - c75067b6-bf8c-497c-aa73-e228162d5f8a
      x-processing-time:
      - 3826ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:38 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_c75067b6-bf8c-497c-aa73-e228162d5f8a?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-04T23:42:30.6042533+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5C3WoQRujUevcBNd1vBJ3A.0
      x-processing-time:
      - 207ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:43:01 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-04T23:42:56.173128+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wdCNkBroqku1FwZsJu3QaA.0
      x-processing-time:
      - 5187ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
