interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/5dd8d5f9-a7a9-444a-890b-02c3f39f2f42?api-version=2022-12-01
      ms-cv:
      - a8CN5iAcpkGVG4t2DQoEEA.0
      operation-id:
      - search_5dd8d5f9-a7a9-444a-890b-02c3f39f2f42
      operation-location:
      - /phoneNumbers/operations/search_5dd8d5f9-a7a9-444a-890b-02c3f39f2f42?api-version=2022-12-01
      search-id:
      - 5dd8d5f9-a7a9-444a-890b-02c3f39f2f42
      x-processing-time:
      - 2190ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:30 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_5dd8d5f9-a7a9-444a-890b-02c3f39f2f42?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/5dd8d5f9-a7a9-444a-890b-02c3f39f2f42?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:25:30.1521303+00:00", "id": "search_5dd8d5f9-a7a9-444a-890b-02c3f39f2f42",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/5dd8d5f9-a7a9-444a-890b-02c3f39f2f42?api-version=2022-12-01
      ms-cv:
      - s9LvEIxmzk+L1D5rfud0MA.0
      x-processing-time:
      - 222ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:33 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/5dd8d5f9-a7a9-444a-890b-02c3f39f2f42?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "5dd8d5f9-a7a9-444a-890b-02c3f39f2f42", "phoneNumbers":
        ["+18443040831"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-06-23T17:41:32.0578269+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jyZA1reh9E+Y20fddbWDIA.0
      x-processing-time:
      - 438ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "5dd8d5f9-a7a9-444a-890b-02c3f39f2f42"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 3Pmzm7ee4BkFuMZNH1HCumIJ8F0Wad5Dv/q4LP1Eyl0=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:34 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - BMmzUh1S3ESBhMRcWGervQ.0
      operation-id:
      - purchase_5dd8d5f9-a7a9-444a-890b-02c3f39f2f42
      operation-location:
      - /phoneNumbers/operations/purchase_5dd8d5f9-a7a9-444a-890b-02c3f39f2f42?api-version=2022-12-01
      purchase-id:
      - 5dd8d5f9-a7a9-444a-890b-02c3f39f2f42
      x-processing-time:
      - 816ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:35 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_5dd8d5f9-a7a9-444a-890b-02c3f39f2f42?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-06-23T17:25:30.1521303+00:00", "id": "purchase_5dd8d5f9-a7a9-444a-890b-02c3f39f2f42",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - GChtl7j1QkWN38nc8m94KQ.0
      x-processing-time:
      - 296ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - gbSdBAr2G3KgEFcwrmfEnG1sQN1pkJ+rIY0GKz6ktnA=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2kfKkkiKQEmHIzozWdLJHg.0
      x-processing-time:
      - 516ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
