interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:25 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
      ms-cv:
      - Hvhp3R8pcE24ctARmsX7ww.0
      operation-id:
      - search_12b327c1-3ba9-4e86-91b7-25bb5e4ff631
      operation-location:
      - /phoneNumbers/operations/search_12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
      search-id:
      - 12b327c1-3ba9-4e86-91b7-25bb5e4ff631
      x-processing-time:
      - 2161ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:28 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01",
        "createdDateTime": "2023-07-04T23:42:27.600616+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
      ms-cv:
      - A09FhUjFtkq87twJBdU3sA.0
      x-processing-time:
      - 185ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:31 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "12b327c1-3ba9-4e86-91b7-25bb5e4ff631", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-07-04T23:58:29.5254987+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - p7zab99qzk2fTnwaEVtnRQ.0
      x-processing-time:
      - 415ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "12b327c1-3ba9-4e86-91b7-25bb5e4ff631"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - zg60/WaJJbfBkuZ9Re0QgRUqBBr0SKtpEF6AetVGPjw=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:31 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - /EykT8UUWky4R0inph509g.0
      operation-id:
      - purchase_12b327c1-3ba9-4e86-91b7-25bb5e4ff631
      operation-location:
      - /phoneNumbers/operations/purchase_12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
      purchase-id:
      - 12b327c1-3ba9-4e86-91b7-25bb5e4ff631
      x-processing-time:
      - 1831ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:33 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_12b327c1-3ba9-4e86-91b7-25bb5e4ff631?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-07-04T23:42:27.600616+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9a8mfNzSQEmIQJZEJLvNtw.0
      x-processing-time:
      - 234ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:42:52 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/sanitized?api-version=2022-12-01
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2023-07-04T23:42:48.5892147+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6/eKzVcCqUO3MWSxOjepvg.0
      x-processing-time:
      - 4139ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
