interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Thu, 06 Jul 2023 21:16:51 GMT
      Repeatability-Request-ID:
      - 6c93a093-1c42-11ee-b641-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Thu, 06 Jul 2023 21:16:51 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-06T21:16:51.2371122+00:00",
        "validFrom": "2023-07-06T21:16:51.0476068+00:00", "validUntil": "2024-01-02T21:16:51.0476068+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99495175947461341'
      ms-cv:
      - HFl2bQ04GUa0//1xJJLZxg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Thu, 06 Jul 2023 21:16:53 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized/participants?api-version=2023-06-14
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - wuZm1gWZQ0ytVawxIeNE0A.0
    status:
      code: 200
      message: OK
version: 1
