interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Fri, 23 Jun 2023 17:12:01 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-06-24T17:12:01.6613789+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xC/8RCN0n02EgaOw95lwVQ.0
      x-processing-time:
      - 110ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "yet-another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - e0d6987b-cc4c-47f1-87d3-edc6e5acb564
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "yet-another-topic", "createdOn":
        "2023-06-23T17:12:02Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AkBTYI66AsA6GNZPGBdwnfaAlJCkg7cA0Sv0rH78ewao1@thread.v2
      ms-cv:
      - slibpOHplky5+fjOjtrRRw.0
      x-processing-time:
      - 526ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "<br>hello!<br>", "type": "html"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3AkBTYI66AsA6GNZPGBdwnfaAlJCkg7cA0Sv0rH78ewao1@thread.v2/messages/1687540323092
      ms-cv:
      - gC2nWan1fEeHA+iO78f9GQ.0
      x-processing-time:
      - 245ms
    status:
      code: 201
      message: Created
version: 1
