interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Tue, 04 Jul 2023 23:44:42 GMT
      Repeatability-Request-ID:
      - bfb19498-1ac4-11ee-9945-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Tue, 04 Jul 2023 23:44:42 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-03-31-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-04T23:44:43.6406461+00:00",
        "validFrom": "2023-07-04T23:44:42.9269636+00:00", "validUntil": "2023-12-31T23:44:42.9269636+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99470621691786503'
      ms-cv:
      - YSWU4uBXPk+aO4iM7flNrA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Tue, 04 Jul 2023 23:44:43 GMT
    method: DELETE
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-03-31-preview
  response:
    body:
      string: ''
    headers:
      api-deprecated-versions:
      - '2021-04-07'
      api-supported-versions:
      - 2022-02-01, 2023-03-31-preview, 2023-06-14
      ms-cv:
      - TXP4KM7bH0CqQKTy7XF/8Q.0
    status:
      code: 204
      message: No Content
version: 1
