interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:53 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      location:
      - /availablePhoneNumbers/searchResults/045b0e17-b56c-40c7-8551-2c157cf46157?api-version=2022-12-01
      ms-cv:
      - qDpsFVMiMU2tk2O3cxJzCg.0
      operation-id:
      - search_045b0e17-b56c-40c7-8551-2c157cf46157
      operation-location:
      - /phoneNumbers/operations/search_045b0e17-b56c-40c7-8551-2c157cf46157?api-version=2022-12-01
      search-id:
      - 045b0e17-b56c-40c7-8551-2c157cf46157
      x-processing-time:
      - 1848ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:55 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/search_045b0e17-b56c-40c7-8551-2c157cf46157?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/045b0e17-b56c-40c7-8551-2c157cf46157?api-version=2022-12-01",
        "createdDateTime": "2023-06-23T17:25:55.2546139+00:00", "id": "search_045b0e17-b56c-40c7-8551-2c157cf46157",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/045b0e17-b56c-40c7-8551-2c157cf46157?api-version=2022-12-01
      ms-cv:
      - iHZHV+fiI0m6wm9i0Q9tEA.0
      x-processing-time:
      - 257ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:58 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/searchResults/045b0e17-b56c-40c7-8551-2c157cf46157?api-version=2022-12-01
  response:
    body:
      string: '{"searchId": "045b0e17-b56c-40c7-8551-2c157cf46157", "phoneNumbers":
        ["+18333251373"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2023-06-23T17:41:56.7201430+00:00", "error": "NoError"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 0sUMbXcpdEuZhWq4u2oZLQ.0
      x-processing-time:
      - 429ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "045b0e17-b56c-40c7-8551-2c157cf46157"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - m4wXEF0nUq7jjiANCEPBEvcrtGS7/xXeOd9GqBnUv6s=
      x-ms-date:
      - Fri, 23 Jun 2023 17:25:59 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2022-12-01
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-05-01-preview
      ms-cv:
      - MPRa+8jvB0iWYjYvKnA3og.0
      operation-id:
      - purchase_045b0e17-b56c-40c7-8551-2c157cf46157
      operation-location:
      - /phoneNumbers/operations/purchase_045b0e17-b56c-40c7-8551-2c157cf46157?api-version=2022-12-01
      purchase-id:
      - 045b0e17-b56c-40c7-8551-2c157cf46157
      x-processing-time:
      - 1040ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Fri, 23 Jun 2023 17:26:00 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/phoneNumbers/operations/purchase_045b0e17-b56c-40c7-8551-2c157cf46157?api-version=2022-12-01
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2023-06-23T17:25:55.2546139+00:00", "id": "purchase_045b0e17-b56c-40c7-8551-2c157cf46157",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-05-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - p8Veq4wYzU6uJ3hmYHpyag.0
      x-processing-time:
      - 240ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - EjHJ28GzdOBNGZetSktEawEKCb+04tn4vJOnplrhu+g=
    method: POST
    uri: https://sanitized.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - u+D3bc0D4EKyAT6MTkyZog.0
      x-processing-time:
      - 460ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
