interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"], "expiresInMinutes": null}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - RgFKX8sq6gKDc377EdeILf3jgzCijxLOR8s04qluHkc=
      x-ms-date:
      - Tue, 04 Jul 2023 23:29:28 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/identities?api-version=2022-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2023-07-05T23:29:29.0964537+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-08-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pyrsdhS5LkK2SeRq5i/H+w.0
      x-processing-time:
      - 107ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "some-other-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 71c3785e-33c0-423b-8e99-dc582bf20023
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads?api-version=2021-09-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "some-other-topic", "createdOn":
        "2023-07-04T23:29:29Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A0bfSBbsvhO62u27tBilXlmEeKuQA1xM8k7iCF-zDy-U1@thread.v2
      ms-cv:
      - Axt46YAh5UWq01AARyKDmQ.0
      x-processing-time:
      - 354ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.communication.azure.com/chat/threads/19%3A0bfSBbsvhO62u27tBilXlmEeKuQA1xM8k7iCF-zDy-U1@thread.v2/messages/1688513370249
      ms-cv:
      - T6kvPZmLxEK4Bm2eylosig.0
      x-processing-time:
      - 110ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "type": "text", "sequenceId": "3", "version": "1688513370249",
        "content": {"message": "Hello!"}, "senderDisplayName": "", "createdOn": "2023-07-04T23:29:30Z",
        "senderCommunicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - yqYuAj911U2iW/TtFWK3DA.0
      x-processing-time:
      - 101ms
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.communication.azure.com/chat/threads/sanitized/messages/sanitized?api-version=2021-09-07
  response:
    body:
      string: '{"id": "sanitized", "type": "text", "sequenceId": "3", "version": "1688513371182",
        "content": {"message": ""}, "senderDisplayName": "", "createdOn": "2023-07-04T23:29:30Z",
        "senderCommunicationIdentifier": {"rawId": "sanitized", "communicationUser":
        {"id": "sanitized"}}, "deletedOn": "2023-07-04T23:29:31Z"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - W88b2v/ICUSIUHSIh/RPEA.0
      x-processing-time:
      - 135ms
    status:
      code: 200
      message: OK
version: 1
