interactions:
- request:
    body: '{"validFrom": null, "validUntil": null}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Wed, 05 Jul 2023 18:27:02 GMT
      Repeatability-Request-ID:
      - 896d1fe8-1b61-11ee-8d6c-ef1ec79c5484
      x-ms-content-sha256:
      - vBTkhrLFogng0nIWoP6/XqO3xl87GjFK9aShkzc8E3g=
      x-ms-date:
      - Wed, 05 Jul 2023 18:27:02 GMT
    method: POST
    uri: https://sanitized.communication.azure.com/rooms?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:27:03.6531509+00:00",
        "validFrom": "2023-07-05T18:27:03.3271635+00:00", "validUntil": "2024-01-01T18:27:03.3271635+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      location:
      - '99412572020311640'
      ms-cv:
      - 8SQlebDNrE222JntLPTeyA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Wed, 05 Jul 2023 18:27:03 GMT
    method: GET
    uri: https://sanitized.communication.azure.com/rooms/sanitized?api-version=2023-06-14
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2023-07-05T18:27:03.6531509+00:00",
        "validFrom": "2023-07-05T18:27:03.3271635+00:00", "validUntil": "2024-01-01T18:27:03.3271635+00:00"}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - OEdQ1xHgpE6aUsUqPgJnvA.0
    status:
      code: 200
      message: OK
version: 1
